@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #141618;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #141618;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #393f44;
}

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 100;
    src: url(/src/fonts/inter/Inter-Thin.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 200;
    src: url(/src/fonts/inter/Inter-ExtraLight.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 300;
    src: url(/src/fonts/inter/Inter-Light.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(/src/fonts/inter/Inter-Regular.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url(/src/fonts/inter/Inter-Medium.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url(/src/fonts/inter/Inter-SemiBold.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(/src/fonts/inter/Inter-Bold.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 800;
    src: url(/src/fonts/inter/Inter-ExtraBold.ttf) format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: Inter;
    font-weight: 900;
    src: url(/src/fonts/inter/Inter-Black.ttf) format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: Millimetre;
    font-weight: 100;
    src: url(/src/fonts/millimetre/Millimetre-Light.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 200;
    src: url(/src/fonts/millimetre/Millimetre-Light.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 300;
    src: url(/src/fonts/millimetre/Millimetre-Light.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 400;
    src: url(/src/fonts/millimetre/Millimetre-Regular.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 500;
    src: url(/src/fonts/millimetre/Millimetre-Regular.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 600;
    src: url(/src/fonts/millimetre/Millimetre-Regular.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 700;
    src: url(/src/fonts/millimetre/Millimetre-Bold.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 800;
    src: url(/src/fonts/millimetre/Millimetre-Bold.otf) format('opentype');
    font-display: swap;
  }
  @font-face {
    font-family: Millimetre;
    font-weight: 900;
    src: url(/src/fonts/millimetre/Millimetre-Extrablack.otf) format('opentype');
    font-display: swap;
  }

  html {
    font-family: 'Inter', sans-serif;
  }

  .slide {
      display: none;
      opacity: 0;
  }

  .dark-mode {
      background-color: #1a1a1a;
      color: #ffffff;
  }

}
